*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontsize--xlarge: clamp(2.6rem, 1vw + 0.9rem, 1.5rem);
    --fontsize--large: clamp(0.6rem, 1vw + 0.6rem, 1.3rem);
    --fontsize--medium: clamp(0.5rem, 1vw + 0.5rem, 1.2rem);
    --fontsize--small: clamp(0.35rem, 1vw + 0.25rem, 1rem);
}

@font-face {
    font-family: open-sans;
    src: url(opensans-variablefont_wdthwght-webfont.woff2),
         url(opensans-variablefont_wdthwght-webfont.woff)
         url(opensans-italic-variablefont_wdthwght-webfont.woff2),
         url(opensans-italic-variablefont_wdthwght-webfont.woff),
;
}

body {
    font-family: 'open-sans', sans-serif;
}

#container {
    background: rgb(246, 246, 246);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    border: 1px solid red;
}

#container > #section-form {
    grid-column: span 2;
}

#section-logo {
    max-width: 100%;
    object-fit: cover;
    position: relative;
    text-align: center;
    border: 1px solid teal;
}

#background-image-ft-carly {
    max-width: 100%;
    display: block;
    /* z-index: -1; */
    border: 1px solid blue;
    /* aspect-ratio: auto 1 / 1; */
}

#project-name-blackbar {
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 100%;
    /* background: black;
    opacity: 0.6;*/
    border: 1px solid hotpink;
}

#project-name {
    color: white;
    font-size: var(--fontsize--xlarge);
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(166, 166, 166, 0.8);
    border: 1px solid pink;
}

#image-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    color: white;
    font-size: 2vw;
}

#section-form {
    grid-template-columns: 2fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(244, 24, 24);

}

#section-form > * {
    padding: clamp(0.8rem, 1vw + 1rem, 2.5rem);
}

.message-main {
    font-size: var(--fontsize--large);
    /* text-wrap: balance; */
    border: 1px solid green;
}

.message-secondary {
    font-size: var(--fontsize--large);
    border: 1px solid purple;
}

fieldset {
    /* position: relative;
    background: white;
    border: 1px solid lightblue;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

form {
    position: relative;
    background: white;
    border: 1px solid lightblue;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

legend {
    position: absolute;
    top: 0.1em;
    padding-bottom: min(3vh, 5rem);
    font-size: var(--fontsize--medium);
    border: 1px solid blue;

}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 100%;
    font-size: var(--fontsize--small);
    gap: clamp(0.3rem, 1vw + 0.3rem, 1.4rem);
}

.inputs {
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: 0;
}

input:focus:invalid {
    border-color: rgb(255, 36, 36);
}

input:focus:valid {
    border-color: rgb(135, 190, 51);;
}

/* from CSS Tricks */
input:not(:focus):invalid {
    border-color: purple;
    background-color: bisque;
}

.error-message {
    font-size: var(--fontsize--small);
    color: red;
}

.join > * {
    border: 1px solid orange;
    font-size: var(--fontsize--small);
}

.button {
    background-color: rgb(135, 190, 51);
    padding: 0.7rem 1.5em 0.7rem 1.5em;
    border-radius: 1em;
    cursor: pointer;
    margin-bottom: min(3vh, 5rem);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

a {
    text-decoration: none;
    color: hotpink;
}